# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
EVA2_10_STACK/nbproject/project.xml
EVA2_10_STACK/nbproject/project.properties
EVA2_10_STACK/nbproject/private/private.xml
EVA2_10_STACK/nbproject/private/private.properties
EVA2_10_STACK/nbproject/genfiles.properties
EVA2_10_STACK/nbproject/build-impl.xml
EVA2_10_STACK/manifest.mf
EVA2_10_STACK/build.xml
EVA2_11_QUEUE/nbproject/project.xml
EVA2_11_QUEUE/nbproject/project.properties
EVA2_11_QUEUE/nbproject/private/private.xml
EVA2_11_QUEUE/nbproject/private/private.properties
EVA2_11_QUEUE/nbproject/genfiles.properties
EVA2_11_QUEUE/nbproject/build-impl.xml
EVA2_11_QUEUE/manifest.mf
EVA2_11_QUEUE/build.xml
EVA2_12_CANVAS/nbproject/project.xml
EVA2_12_CANVAS/nbproject/project.properties
EVA2_12_CANVAS/nbproject/private/private.xml
EVA2_12_CANVAS/nbproject/private/private.properties
EVA2_12_CANVAS/build.xml
EVA2_12_CANVAS/build/classes/.netbeans_automatic_build
EVA2_12_CANVAS/build/classes/.netbeans_update_resources
EVA2_12_CANVAS/build/classes/eva2_12_canvas/Principal12.form
EVA2_12_CANVAS/manifest.mf
EVA2_12_CANVAS/nbproject/build-impl.xml
EVA2_12_CANVAS/nbproject/genfiles.properties
EVA2_13_ARBOL_BINARIO/build.xml
EVA2_13_ARBOL_BINARIO/build/classes/.netbeans_automatic_build
EVA2_13_ARBOL_BINARIO/build/classes/.netbeans_update_resources
EVA2_13_ARBOL_BINARIO/manifest.mf
EVA2_13_ARBOL_BINARIO/nbproject/build-impl.xml
EVA2_13_ARBOL_BINARIO/nbproject/genfiles.properties
EVA2_13_ARBOL_BINARIO/nbproject/private/private.properties
EVA2_13_ARBOL_BINARIO/nbproject/private/private.xml
EVA2_13_ARBOL_BINARIO/nbproject/project.properties
EVA2_13_ARBOL_BINARIO/nbproject/project.xml
EVA2_14_COLLECTIONS/build.xml
EVA2_14_COLLECTIONS/build/classes/.netbeans_automatic_build
EVA2_14_COLLECTIONS/build/classes/.netbeans_update_resources
EVA2_14_COLLECTIONS/manifest.mf
EVA2_14_COLLECTIONS/nbproject/build-impl.xml
EVA2_14_COLLECTIONS/nbproject/genfiles.properties
EVA2_14_COLLECTIONS/nbproject/private/private.properties
EVA2_14_COLLECTIONS/nbproject/private/private.xml
EVA2_14_COLLECTIONS/nbproject/project.properties
EVA2_14_COLLECTIONS/nbproject/project.xml
EVA2_15_ARRAYLIST/build.xml
EVA2_15_ARRAYLIST/manifest.mf
EVA2_15_ARRAYLIST/nbproject/build-impl.xml
EVA2_15_ARRAYLIST/nbproject/genfiles.properties
EVA2_15_ARRAYLIST/nbproject/private/private.properties
EVA2_15_ARRAYLIST/nbproject/private/private.xml
EVA2_15_ARRAYLIST/nbproject/project.properties
EVA2_15_ARRAYLIST/nbproject/project.xml
EVA2_16_TIPOS_GENERICOS/nbproject/project.xml
EVA2_16_TIPOS_GENERICOS/nbproject/project.properties
EVA2_16_TIPOS_GENERICOS/nbproject/private/private.xml
EVA2_16_TIPOS_GENERICOS/nbproject/private/private.properties
EVA2_16_TIPOS_GENERICOS/nbproject/genfiles.properties
EVA2_16_TIPOS_GENERICOS/nbproject/build-impl.xml
EVA2_16_TIPOS_GENERICOS/manifest.mf
EVA2_16_TIPOS_GENERICOS/build/classes/eva2_16_tipos_genericos/EVA2_16_TIPOS_GENERICOS.rs
EVA2_16_TIPOS_GENERICOS/build/classes/.netbeans_update_resources
EVA2_16_TIPOS_GENERICOS/build/classes/.netbeans_automatic_build
EVA2_16_TIPOS_GENERICOS/build.xml
EVA2_1_RECURSIVIDAD/manifest.mf
EVA2_1_RECURSIVIDAD/nbproject/build-impl.xml
EVA2_1_RECURSIVIDAD/nbproject/genfiles.properties
EVA2_1_RECURSIVIDAD/nbproject/private/private.properties
EVA2_1_RECURSIVIDAD/nbproject/private/private.xml
EVA2_1_RECURSIVIDAD/nbproject/project.properties
EVA2_1_RECURSIVIDAD/nbproject/project.xml
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/build.xml
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/manifest.mf
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/nbproject/build-impl.xml
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/nbproject/genfiles.properties
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/nbproject/private/private.properties
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/nbproject/private/private.xml
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/nbproject/project.properties
EVA2_1_RECURSIVIDAD/EVA2_3_GCD/nbproject/project.xml
EVA2_1_RECURSIVIDAD/build.xml
EVA2_1_RECURSIVIDAD/build/classes/.netbeans_automatic_build
EVA2_1_RECURSIVIDAD/build/classes/.netbeans_update_resources
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/build.xml
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/build/classes/.netbeans_automatic_build
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/build/classes/.netbeans_update_resources
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/manifest.mf
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/nbproject/build-impl.xml
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/nbproject/genfiles.properties
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/nbproject/private/private.properties
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/nbproject/private/private.xml
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/nbproject/project.properties
EVA2_1_RECURSIVIDAD/EVA2_2_FACTORIAL/nbproject/project.xml
EVA2_1_RECURSIVIDAD/src/eva2_1_recursividad/EVA2_1_RECURSIVIDAD.java
EVA2_2_FACTORIAL/build.xml
EVA2_2_FACTORIAL/build/classes/.netbeans_automatic_build
EVA2_2_FACTORIAL/build/classes/.netbeans_update_resources
EVA2_2_FACTORIAL/manifest.mf
EVA2_2_FACTORIAL/nbproject/build-impl.xml
EVA2_2_FACTORIAL/nbproject/genfiles.properties
EVA2_2_FACTORIAL/nbproject/private/private.properties
EVA2_2_FACTORIAL/nbproject/private/private.xml
EVA2_2_FACTORIAL/nbproject/project.properties
EVA2_2_FACTORIAL/nbproject/project.xml
EVA2_3_MCD/build.xml
EVA2_3_MCD/build/classes/.netbeans_automatic_build
EVA2_3_MCD/build/classes/.netbeans_update_resources
EVA2_3_MCD/manifest.mf
EVA2_3_MCD/nbproject/build-impl.xml
EVA2_3_MCD/nbproject/genfiles.properties
EVA2_3_MCD/nbproject/private/private.properties
EVA2_3_MCD/nbproject/private/private.xml
EVA2_3_MCD/nbproject/project.properties
EVA2_3_MCD/nbproject/project.xml
EVA2_4_FIBONACCI/build.xml
EVA2_4_FIBONACCI/build/classes/.netbeans_automatic_build
EVA2_4_FIBONACCI/build/classes/.netbeans_update_resources
EVA2_4_FIBONACCI/manifest.mf
EVA2_4_FIBONACCI/nbproject/build-impl.xml
EVA2_4_FIBONACCI/nbproject/genfiles.properties
EVA2_4_FIBONACCI/nbproject/private/private.properties
EVA2_4_FIBONACCI/nbproject/private/private.xml
EVA2_4_FIBONACCI/nbproject/project.properties
EVA2_4_FIBONACCI/nbproject/project.xml
EVA2_5_PRIMOS/build.xml
EVA2_5_PRIMOS/build/classes/.netbeans_automatic_build
EVA2_5_PRIMOS/build/classes/.netbeans_update_resources
EVA2_5_PRIMOS/manifest.mf
EVA2_5_PRIMOS/nbproject/build-impl.xml
EVA2_5_PRIMOS/nbproject/genfiles.properties
EVA2_5_PRIMOS/nbproject/private/private.properties
EVA2_5_PRIMOS/nbproject/project.properties
EVA2_5_PRIMOS/nbproject/project.xml
EVA2_5_PRIMOS/src/eva2_5_primos/Main.java
EVA2_6_LISTA/build.xml
EVA2_6_LISTA/build/classes/.netbeans_automatic_build
EVA2_6_LISTA/build/classes/.netbeans_update_resources
EVA2_6_LISTA/manifest.mf
EVA2_6_LISTA/nbproject/build-impl.xml
EVA2_6_LISTA/nbproject/genfiles.properties
EVA2_6_LISTA/nbproject/private/private.properties
EVA2_6_LISTA/nbproject/project.properties
EVA2_6_LISTA/nbproject/project.xml
EVA2_7_LISTAS_2/build.xml
EVA2_7_LISTAS_2/build/classes/.netbeans_automatic_build
EVA2_7_LISTAS_2/build/classes/.netbeans_update_resources
EVA2_7_LISTAS_2/manifest.mf
EVA2_7_LISTAS_2/nbproject/build-impl.xml
EVA2_7_LISTAS_2/nbproject/genfiles.properties
EVA2_7_LISTAS_2/nbproject/private/private.properties
EVA2_7_LISTAS_2/nbproject/private/private.xml
EVA2_7_LISTAS_2/nbproject/project.properties
EVA2_7_LISTAS_2/nbproject/project.xml
Eva2_8_Lista_Simple/build.xml
Eva2_8_Lista_Simple/build/classes/.netbeans_automatic_build
Eva2_8_Lista_Simple/build/classes/.netbeans_update_resources
Eva2_8_Lista_Simple/manifest.mf
Eva2_8_Lista_Simple/nbproject/build-impl.xml
Eva2_8_Lista_Simple/nbproject/genfiles.properties
Eva2_8_Lista_Simple/nbproject/private/private.properties
Eva2_8_Lista_Simple/nbproject/private/private.xml
Eva2_8_Lista_Simple/nbproject/project.properties
Eva2_8_Lista_Simple/nbproject/project.xml
EVA2_9_LISTA_DOBLEME/build.xml
EVA2_9_LISTA_DOBLEME/build/classes/.netbeans_automatic_build
EVA2_9_LISTA_DOBLEME/build/classes/.netbeans_update_resources
EVA2_9_LISTA_DOBLEME/manifest.mf
EVA2_9_LISTA_DOBLEME/nbproject/build-impl.xml
EVA2_9_LISTA_DOBLEME/nbproject/genfiles.properties
EVA2_9_LISTA_DOBLEME/nbproject/private/private.properties
EVA2_9_LISTA_DOBLEME/nbproject/private/private.xml
EVA2_9_LISTA_DOBLEME/nbproject/project.properties
EVA2_9_LISTA_DOBLEME/nbproject/project.xml
EVA3_1_ORDENAMIENTOS/build.xml
EVA3_1_ORDENAMIENTOS/build/built-jar.properties
EVA3_1_ORDENAMIENTOS/build/classes/.netbeans_automatic_build
EVA3_1_ORDENAMIENTOS/build/classes/.netbeans_update_resources
EVA3_1_ORDENAMIENTOS/dist/README.TXT
EVA3_1_ORDENAMIENTOS/manifest.mf
EVA3_1_ORDENAMIENTOS/nbproject/build-impl.xml
EVA3_1_ORDENAMIENTOS/nbproject/genfiles.properties
EVA3_1_ORDENAMIENTOS/nbproject/private/private.properties
EVA3_1_ORDENAMIENTOS/nbproject/private/private.xml
EVA3_1_ORDENAMIENTOS/nbproject/project.properties
EVA3_1_ORDENAMIENTOS/nbproject/project.xml
EVA3_2_COMPARATOR/build.xml
EVA3_2_COMPARATOR/build/classes/.netbeans_automatic_build
EVA3_2_COMPARATOR/build/classes/.netbeans_update_resources
EVA3_2_COMPARATOR/manifest.mf
EVA3_2_COMPARATOR/nbproject/build-impl.xml
EVA3_2_COMPARATOR/nbproject/genfiles.properties
EVA3_2_COMPARATOR/nbproject/private/private.properties
EVA3_2_COMPARATOR/nbproject/private/private.xml
EVA3_2_COMPARATOR/nbproject/project.properties
EVA3_2_COMPARATOR/nbproject/project.xml
